<p-toast />
@if (!isModal()) {
  <div>
    <div class="bg-green-800 text-white p-5 mb-5 border-round-xl">
      <h1 class="text-3xl font-semibold m-0 mb-2">Crear Nuevo Usuario</h1>
      <p class="text-green-100 m-0">Completa el siguiente formulario para registrar un nuevo usuario (Docente, Coordinador o Tesorería) en la plataforma.</p>
    </div>
    <div class="flex justify-content-center">
      <p-card styleClass="shadow-2" [style]="{ maxWidth: '1200px', width: '100%' }">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="grid">
            <div class="col-12 md:col-6">
              <div class="flex flex-column gap-2 mb-3">
                <label for="id" class="font-semibold text-sm text-700">Cédula <span class="text-red-500">*</span></label>
                <input id="id" pInputText formControlName="id" maxlength="10" (input)="filterNumbers($event, 'id')" />
                @if (id.invalid && submitted()) {
                  <small class="p-error text-red-500">La cédula ingresada no es válida.</small>
                }
              </div>
            </div>
            <div class="col-12 md:col-6">
              <div class="flex flex-column gap-2 mb-3">
                <label for="roleName" class="font-semibold text-sm text-700">Rol <span class="text-red-500">*</span></label>
                <p-select
                  id="roleName"
                  formControlName="roleName"
                  [options]="roles"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Seleccione rol"
                  styleClass="w-full"
                  appendTo="body"
                />
            @if (roleName.invalid && submitted()) {
              <small class="p-error text-red-500">El rol es inválido.</small>
            }
          </div>
        </div>
        <div class="col-12 md:col-6">
              <div class="flex flex-column gap-2 mb-3">
                <label for="firstName" class="font-semibold text-sm text-700">Nombres <span class="text-red-500">*</span></label>
                <input id="firstName" pInputText formControlName="firstName" maxlength="20" (input)="filterLetters($event, 'firstName')" />
                @if (firstName.invalid && submitted()) {
                  <small class="p-error text-red-500">Nombre inválido.</small>
                }
              </div>
            </div>
            @if (roleName.value === 'teacher') {
              <div class="col-12 md:col-6">
                <div class="flex flex-column gap-2 mb-4">
                  <label for="facultyIds" class="font-semibold text-sm text-700">Facultades asignadas</label>
                  <p-multiSelect
                    id="facultyIds"
                    formControlName="facultyIds"
                    [options]="faculties()"
                    optionLabel="name"
                    optionValue="id"
                    placeholder="Seleccione facultades"
                    styleClass="w-full"
                    display="chip"
                    appendTo="body"
                  />
                </div>
              </div>
            }
            <div class="col-12 md:col-6">
              <div class="flex flex-column gap-2 mb-3">
                <label for="lastName" class="font-semibold text-sm text-700">Apellidos <span class="text-red-500">*</span></label>
                <input id="lastName" pInputText formControlName="lastName" maxlength="20" (input)="filterLetters($event, 'lastName')" />
                @if (lastName.invalid && submitted()) {
                  <small class="p-error text-red-500">Apellido inválido.</small>
                }
              </div>
            </div>
            <div class="col-12 md:col-6">
              <div class="flex flex-column gap-2 mb-3">
                <label for="email" class="font-semibold text-sm text-700">Correo Electrónico <span class="text-red-500">*</span></label>
                <input id="email" pInputText formControlName="email" type="email" maxlength="40" placeholder="ejemplo@gmail.com" />
                @if (email.invalid && submitted()) {
                  <small class="p-error text-red-500">Correo inválido.</small>
                }
              </div>
            </div>
            <div class="col-12 md:col-6">
              <div class="flex flex-column gap-2 mb-3">
                <label for="birthDate" class="font-semibold text-sm text-700">Fecha de Nacimiento <span class="text-red-500">*</span></label>
                <input id="birthDate" type="date" pInputText formControlName="birthDate" />
                @if (birthDate.errors?.['invalidDate'] && submitted()) {
                  <small class="p-error text-red-500">La fecha debe ser del pasado.</small>
                }
              </div>
            </div>
            <div class="col-12 md:col-6">
              <div class="flex flex-column gap-2 mb-3">
                <label for="phone" class="font-semibold text-sm text-700">Teléfono (Opcional)</label>
                <input id="phone" type="tel" pInputText formControlName="phone" maxlength="10" (input)="filterNumbers($event, 'phone')" />
                @if (phone.invalid && submitted()) {
                  <small class="p-error text-red-500">Solo se permiten números.</small>
                }
              </div>
            </div>
          </div>
          <div class="mt-4 flex justify-content-end">
              <p-button
                type="submit"
                label="Registrar Usuario"
                icon="pi pi-check"
                [loading]="loading()"
                [disabled]="hasEmptyRequiredFields"
              />
          </div>
        </form>
      </p-card>
    </div>
  </div>
} @else {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid">
      <div class="col-12 md:col-6">
        <div class="flex flex-column gap-2 mb-3">
          <label for="id" class="font-semibold text-sm text-700">Cédula <span class="text-red-500">*</span></label>
          <input id="id" pInputText formControlName="id" maxlength="10" (input)="filterNumbers($event, 'id')" />
          @if (id.invalid && submitted()) {
            <small class="p-error text-red-500">La cédula ingresada no es válida.</small>
          }
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="flex flex-column gap-2 mb-3">
          <label for="roleName" class="font-semibold text-sm text-700">Rol <span class="text-red-500">*</span></label>
          <p-select
            id="roleName"
            formControlName="roleName"
            [options]="roles"
            optionLabel="label"
            optionValue="value"
            placeholder="Seleccione rol"
            styleClass="w-full"
            appendTo="body"
          />
          @if (roleName.invalid && submitted()) {
            <small class="p-error text-red-500">El rol es inválido.</small>
          }
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="flex flex-column gap-2 mb-3">
          <label for="firstName" class="font-semibold text-sm text-700">Nombres <span class="text-red-500">*</span></label>
          <input id="firstName" pInputText formControlName="firstName" maxlength="20" (input)="filterLetters($event, 'firstName')" />
          @if (firstName.invalid && submitted()) {
            <small class="p-error text-red-500">Nombre inválido.</small>
          }
        </div>
      </div>
      @if (roleName.value === 'teacher') {
        <div class="col-12 md:col-6">
          <div class="flex flex-column gap-2 mb-4">
            <label for="facultyIds" class="font-semibold text-sm text-700">Facultades asignadas</label>
            <p-multiSelect
              id="facultyIds"
              formControlName="facultyIds"
              [options]="faculties()"
              optionLabel="name"
              optionValue="id"
              placeholder="Seleccione facultades"
              styleClass="w-full"
              display="chip"
              appendTo="body"
            />
          </div>
        </div>
      }
      <div class="col-12 md:col-6">
        <div class="flex flex-column gap-2 mb-3">
          <label for="lastName" class="font-semibold text-sm text-700">Apellidos <span class="text-red-500">*</span></label>
          <input id="lastName" pInputText formControlName="lastName" maxlength="20" (input)="filterLetters($event, 'lastName')" />
          @if (lastName.invalid && submitted()) {
            <small class="p-error text-red-500">Apellido inválido.</small>
          }
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="flex flex-column gap-2 mb-3">
          <label for="email" class="font-semibold text-sm text-700">Correo Electrónico <span class="text-red-500">*</span></label>
          <input id="email" pInputText formControlName="email" type="email" maxlength="40" placeholder="ejemplo@gmail.com" />
          @if (email.invalid && submitted()) {
            <small class="p-error text-red-500">Correo inválido.</small>
          }
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="flex flex-column gap-2 mb-3">
          <label for="birthDate" class="font-semibold text-sm text-700">Fecha de Nacimiento <span class="text-red-500">*</span></label>
          <input id="birthDate" type="date" pInputText formControlName="birthDate" />
          @if (birthDate.errors?.['invalidDate'] && submitted()) {
            <small class="p-error text-red-500">La fecha debe ser del pasado.</small>
          }
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="flex flex-column gap-2 mb-3">
          <label for="phone" class="font-semibold text-sm text-700">Teléfono (Opcional)</label>
          <input id="phone" type="tel" pInputText formControlName="phone" maxlength="10" (input)="filterNumbers($event, 'phone')" />
          @if (phone.invalid && submitted()) {
            <small class="p-error text-red-500">Solo se permiten números.</small>
          }
        </div>
      </div>
    </div>
    <div class="mt-4 flex justify-content-end">
      <p-button
        type="submit"
        label="Registrar Usuario"
        icon="pi pi-check"
        [loading]="loading()"
        [disabled]="hasEmptyRequiredFields"
      />
    </div>
  </form>
}
