<div class="flex flex-column h-screen surface-ground">
  <div class="flex flex-1 overflow-hidden">
    <app-sidebar />
    <main class="flex-1 p-3 overflow-y-auto" style="overflow-x: hidden">
      <router-outlet />
    </main>
  </div>
</div>

<p-dialog
  [visible]="authService.requiresPasswordChange()"
  [modal]="true"
  [closable]="false"
  [closeOnEscape]="false"
  [draggable]="false"
  [resizable]="false"
  styleClass="p-0 border-round-2xl overflow-hidden"
  maskStyleClass="backdrop-blur-sm bg-black-alpha-60">
  <app-first-login />
</p-dialog>
